* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: arial;
    background-color: #F0F0ED;
    width: 1340px 
}

/* Start Part 1 */

.part1 .sidebar .activeTab
{
	color: #5791ff;
}

.part1 {
    float: left;
    width: 243px;
    margin-top: 25px;
    margin-left: 25px;
}

.part1 .search,
.part1 .sidebar,
.part1 .tail
 {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #FFF;
}

.part1 .search input[type="search"] {
    border: 0;
    width: 200px;
    padding: 8px;
    border-radius: 5px;
    background-color: #F7F7F7;
}


.part1 .tail input
{
	background-color: #90949c;
	
}














/* End Part 1 */

/* Start Part 2 */

.part2 {
    float: left;
    width: 900px;
    margin-left: 2%;
    margin-top: 25px;
}

.part2 .AddPatient
{
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #FFF;
}




.part2 .PateintList
 {
    overflow: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: #FFF;
}

.part2 .PateintList h4
 {
    position: relative;
    font-size: 20px;
    margin-top: 0;
    padding: 20px;
    background-color: #F7F7F7;
    border-radius: 8px 8px 0 0;
}

.part2 .PateintList .table 
{
   
   margin-right: 30px;
   margin-left: 30px;
   overflow: auto;
   width: 850px;
}
.part2 .AddPatient button
{
    padding-right: 50px;
    padding-left: 50px;
}

/* End Part 2 */

